<!-- fragments/navbar.html -->
<nav th:fragment="navbar" class="bg-dark py-2 shadow-sm"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div class="container d-flex">
    <a href="/interns" class="nav-link text-white me-4">Danh sách Interns</a>
    <a href="/users" class="nav-link text-white me-4">Danh sách User</a>

    <!-- Link sản phẩm: nếu là ROLE_ADMIN thì hiện admin, nếu là ROLE_USER thì hiện thường, không trùng nhau -->
    <sec:authorize access="hasRole('ROLE_ADMIN')">
      <a href="/product/products" class="nav-link text-white me-4">Sản phẩm ADMIN</a>
    </sec:authorize>

    <sec:authorize access="hasRole('ROLE_USER') and !hasRole('ROLE_ADMIN')">
      <a href="/product/products/show" class="nav-link text-white me-4">Sản phẩm</a>
    </sec:authorize>

    <a href="/meetings" class="nav-link text-white me-4">Danh sách cuộc họp</a>
    <a href="/user/projects" class="nav-link text-white me-4">Danh sách dự án</a>
  </div>
</nav>
