<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/project-style.css">
<head>
    <link rel="stylesheet" href="/css/project-style.css">
    <link rel="stylesheet" href="/css/index-style.css">
    <link rel="stylesheet" href="/css/header-style.css">
    <title>Tạo dự án mới</title>
</head>
<body>
<a th:href="@{/user/projects}" class="btn btn-add">về lại</a>
<h1>Tạo dự án mới</h1>

<form th:action="@{/admin/projects/create}" th:object="${project}" method="post">
    <label>Tên dự án:</label>
    <input type="text" th:field="*{name}" required />
    <br/>
    <label>Mô tả:</label>
    <textarea th:field="*{description}"></textarea>
    <br/>
    <button type="submit">Tạo dự án</button>
</form>

<a href="/admin/projects/list">Quay lại danh sách dự án</a>
</body>
</html>
