<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/project-style.css">
    <link rel="stylesheet" href="/css/index-style.css">
    <link rel="stylesheet" href="/css/header-style.css">
    <title>Dự án của tôi</title>
</head>

<header>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>

<body>
<h1>Dự án bạn được phân công</h1>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên dự án</th>
        <th>Mô tả</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}" th:onclick="'window.location.href=\'/user/tasks\''">
        <td th:text="${project.id}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
    </tr>
    </tbody>
</table>


<!-- Hiển thị thêm bảng tất cả dự án nếu là admin -->
<div th:if="${isAdmin}">
    <a href="/admin/projects/create">Tạo dự án mới</a>

    <a href="/admin/projects/list">Danh sách dự án</a>
    <!-- Danh sách tất cả dự án -->
    <h2>Danh sách tất cả dự án (ADMIN)</h2>
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên dự án</th>
            <th>Mô tả</th>
            <th>Người làm</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${allProjects}">
            <td th:text="${project.id}"></td>
            <td th:text="${project.name}"></td>
            <td th:text="${project.description}"></td>
            <td>
                <ul>
                    <!-- Hiển thị danh sách người dùng được phân công vào dự án -->
                    <li th:each="user : ${project.assignedUsers}" th:text="${user.fullname}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
