<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Danh sách cuộc họp</title>
    <link rel="stylesheet" th:href="@{/css/meetings-style.css}">
    <link rel="stylesheet" th:href="@{/css/header-style.css}">
    <link rel="stylesheet" th:href="@{/css/index-style.css}">
</head>
<header>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>
<body>
<div class="meeting-list-container">
    <h1>Danh sách cuộc họp của bạn</h1>

    <table class="meeting-table" border="1" cellpadding="5" cellspacing="0">
        <thead>
        <tr>
            <th>Tiêu đề</th>
            <th>Mô tả</th>
            <th>Thời gian bắt đầu</th>
            <th>Thời gian kết thúc</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="meeting : ${meetings}">
            <td data-label="Tiêu đề" th:text="${meeting.title}">Tiêu đề</td>
            <td data-label="Mô tả" th:text="${meeting.description}">Mô tả</td>
            <td data-label="Thời gian bắt đầu" th:text="${meeting.startTime != null ? #temporals.format(meeting.startTime, 'dd/MM/yyyy HH:mm') : 'N/A'}">01/01/2025 09:00</td>
            <td data-label="Thời gian kết thúc" th:text="${meeting.endTime != null ? #temporals.format(meeting.endTime, 'dd/MM/yyyy HH:mm') : 'N/A'}">01/01/2025 10:00</td>
        </tr>
        </tbody>
    </table>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/meetings/create}" class="btn btn-add">Tạo cuộc họp mới</a>
    </div>
</div>
</body>

</html>
