<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tạo cuộc họp mới</title>
    <link rel="stylesheet" th:href="@{/css/meetings-style.css}">
</head>
<body>
<h1>Tạo cuộc họp mới</h1>

<form th:action="@{/meetings/create}" th:object="${meeting}" method="post">

    <label for="title">Tiêu đề:</label><br>
    <input type="text" id="title" th:field="*{title}" required><br><br>

    <label for="description">Mô tả:</label><br>
    <textarea id="description" th:field="*{description}" rows="4" cols="50"></textarea><br><br>

    <label for="startTime">Thời gian bắt đầu:</label><br>
    <input type="datetime-local" id="startTime" th:field="*{startTime}" required><br><br>

    <label for="endTime">Thời gian kết thúc:</label><br>
    <input type="datetime-local" id="endTime" th:field="*{endTime}" required><br><br>

    <label>Chọn người tham gia:</label><br>

    <input type="text" id="searchUser" placeholder="Tìm người..." onkeyup="filterUsers()" style="width: 300px; padding: 5px; margin-bottom: 5px;">

    <div id="userList" style="height: 150px; width: 300px; border: 1px solid #ccc; overflow-y: auto; padding: 5px;">
        <div th:each="user : ${users}" th:id="${'userDiv_'+user.id}">
            <input type="checkbox" th:id="${'user_'+user.id}" name="participantIds" th:value="${user.id}">
            <label th:for="${'user_'+user.id}" th:text="${user.username}">Tên user</label><br>
        </div>
    </div><br>

    <button type="submit">Tạo cuộc họp</button>
</form>

<a th:href="@{/meetings}">Quay lại danh sách</a>

<script>
    function filterUsers() {
        var input, filter, container, divs, label, i, txtValue;
        input = document.getElementById('searchUser');
        filter = input.value.toUpperCase();
        container = document.getElementById('userList');
        divs = container.getElementsByTagName('div');

        for (i = 0; i < divs.length; i++) {
            label = divs[i].getElementsByTagName("label")[0];
            if (label) {
                txtValue = label.textContent || label.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    divs[i].style.display = "";
                } else {
                    divs[i].style.display = "none";
                }
            }
        }
    }
</script>
</body>
</html>


