<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/project-style.css">
    <link rel="stylesheet" href="/css/index-style.css">
    <link rel="stylesheet" href="/css/header-style.css">
    <title>Danh sách dự án</title>
</head>
<body>
<a th:href="@{/user/projects}" class="btn btn-add">về lại</a>
<h1>Danh sách dự án</h1>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên dự án</th>
        <th>Mô tả</th>
        <th>Phân công user</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projects}">
        <td th:text="${project.id}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td>
            <ul>
                <li th:each="user : ${project.assignedUsers}" th:text="${user.fullname} "></li>
            </ul>
        </td>
        <td>
            <a th:href="@{'/admin/projects/' + ${project.id} + '/assign'}">Phân công lại</a> |
            <a th:href="@{'/admin/projects/' + ${project.id} + '/tasks'}">Quản lý nhiệm vụ</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/admin/projects/create">Tạo dự án mới</a>

</body>
</html>
