<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Header</title>
</head>
<body>
<header th:fragment="header" class="bg-success text-white py-3 shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <a href="/index" class="text-white text-decoration-none">
      <h1 class="h4 mb-0">Hệ thống quản lý thực tập sinh</h1>
    </a>
    <div class="user-info d-flex align-items-center">
      <span th:text="'Xin chào: ' + ${username}" class="me-3 fw-bold"></span>
      <a href="/logout" class="btn btn-danger btn-sm">Đăng xuất</a>
    </div>
  </div>
</header>
</body>
</html>
