<!-- fragments/navbar.html -->
<nav th:fragment="navbar" class="bg-dark py-2 shadow-sm">
  <div class="container d-flex">
    <a href="/interns" class="nav-link text-white me-4">Danh sách Interns</a>
    <a href="/users" class="nav-link text-white me-4">Danh sách User</a>
    <a href="/product/products" class="nav-link text-white">Quản lý sản phẩm</a>
    <a href="/meetings" class="nav-link text-white me-4">Danh sách cuộc họp</a>
    <a href="/user/projects" class="nav-link text-white me-4">Danh sách dự án</a>
  </div>
</nav>
