<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hệ thống quản lý</title>
  <link rel="stylesheet" href="/css/index-style.css">
  <link rel="stylesheet" href="/css/header-style.css">
  <script src="/js/notification-dropdown.js"></script>


</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/navbar :: navbar"></div>
<main>
  <h1> Đây là trang chủ</h1>
</main>
<footer>
  <p>Bản quyền &copy; 2025</p>
</footer>
</body>
</html>
